.container{
        background-color: #2A7371;       /* الخلفية */
margin: 0;
padding: 0;
height: 100vh;
position: relative;

}
.textBeige{

color: beige;/* أزرق عند الكبس/الهوفر */

}


.myBtn{
      border: 1px solid #ccc;   /* خط خفيف رمادي */
  transition: all 0.3s ease; /* حركة ناعمة */
  border-radius: 5px;
  background-color: beige;/* أزرق عند الكبس/الهوفر */
  color: rgb(98, 98, 98) ;            
  border-color:rgb(138, 137, 137);
      box-shadow: 0 0 0 0.8px rgb(138, 137, 137);

}
.customInput{
    border-color: beige !important ;
    box-shadow: 0 0 0 0.8px beige!important;
   
}
form{
    margin-right: 50px;
}
@media(max-width:600px){
    form{
        margin-bottom: 100px;
}
.card-img img{
    width: 50% !important;
    height: 50% !important;

}
}
.loginBody{
      background-color: #2a7371; /* الخلفية */

}