@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
.footer {
  background-color: #2a7371;
color: beige;
  text-align: center;       /* النصوص على اليمين */
  box-shadow: 0 1px 5px beige;
  font-family: "Cairo", sans-serif;
          direction: rtl;
           text-shadow: 0.5px 0.5px 1px #0e0e0e;


}



.Clinicc {
/*margin-right: 80px;
margin-top: 40px;*/
transition: transform 0.5s ease;

}
.Clinicc :hover{

  transform: scale(1.3);
  cursor: pointer;
}



@media (max-width: 991px) {
.Clinicc{
display: flex;
justify-content: center;
align-items: center;
           text-shadow: 1px 1px 2px #0e0e0e;
}
.me h5{
display: flex;
justify-content: center;
align-items: center;
}
.me p{
display: flex;
justify-content: center;
align-items: center;
}
}





.me {
  display: flex;
  flex-direction: column; /* ترتيب العناصر عموديًا */
  align-items: center; /* كل شيء على نفس المحاذاة الأفقية */
  gap: 20px;               /* مسافة ثابتة بين h5 و p و div أيقونات */
}

.Clinicc{
  margin-left: 90px !important;

}
.Clinicc i {
  font-size: 3rem;
}
.Clinic i{
transition: transform 0.5s ease;

}
.Clinic i:hover{

  transform: scale(1.3);
  cursor: pointer;
}



.Clinic p,
.Clinic a {
        /* محاذاة الأيقونة والنص عموديًا بنفس المستوى */
  gap: 10px;                 /* مسافة بين النص والأيقونة */
  margin: 10px 0;    
  text-shadow: 1px 1px 2px #0e0e0e;
font-size: 17px;    
  cursor: pointer;
    /* مسافة رأسية بين كل سطر */
}

.Clinic i {
  font-size: 1.5rem;         /* حجم الأيقونات ثابت */
  margin: 0;                 /* نتخلص من أي margin زائد */
}
.Clinic{
  display: flex;
  flex-direction: column;
gap: 2px;
}